* {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

* a:visited, a:link {
    text-decoration: none;
    color: #ffffff;
}

body, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    align-items: baseline;
    padding-bottom: 20px;
}

.logo_container {
    margin-left: 1%;
}

.nav_links_container {
    margin-right: 1%;
}

.categories_ul {
    padding: 0;
    list-style-type: none;
}

.categories_ul li {
    display: inline;
    margin: 25px;
}

h2, li {
    color: #ffffff;
    font-size: 25px;
}

.navbar_container {
    background-color: #343a40;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.articles_container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.articles_list {
    display: flex;
    flex-wrap: wrap;
}

.article_card_container {
    width: 50%;
}

.article_card_container h2 {
    color: #343a40;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.article_card {
    width: 300px;
    height: 220px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sidebar_container {
    background-color: #343a40;
    text-align: center;
    color: #ffffff;
    width: 200px;
    margin-left: 5px;
    border-radius: 5px;
    border-radius: 5px;
    top: 0;
    position: sticky;
    height: 35vh;
}

.display_username_container {
    text-align: center;
}

.sidebar_buttons_container {
    margin-top: 5%;
}

.feeds_button,
.logout_button {
    width: 80%;
    height: 30px;
    background-color: #007fff;
    border: none;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin-top: 10px;
    cursor: pointer;
}

.notifications_icon_container img{
    width: 15%;
}

img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.post {
    text-align: center;
    width: 70%;
}

.post_content_container {
    width: 50%;
    margin: 0 auto;
}

.post_image_container {
    display: flex;
    justify-content: center;
}

.post_image {
    width: 50%;
    height: 50%
}

.signup_form_container {
    text-align: center;
    margin: 0 auto;
}

.signup_form_container h2 {
    color: #000000;
}

.signup_form {
    width: 450px;
    margin: 0 auto;
    background-color: #506376;
    color: #B2BCC5;
    border-radius: 10px;
    padding: 10px;
}

input, label {
    font-size: 16px;
    display: block;
  }

  input {
    width: 95%;
    text-align: left;
    margin-top: 5px;
  } 

  label {
    text-align: left;
    padding-top: 10px;
  }

  span {
      color:#506376;
  }

  .hidden {
      display: none;
  }

.comment_card_container,
.create_comment_container {
    border: 1px solid grey;
    border-radius: 5px;
    width: 50%;
    height: 180px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 15px;
}

.comment_card_posted_details,
.create_comment_card_details,
.edit_comment_card_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px grey solid;
}

.comment_card_textarea,
.edit_comment_textarea {
    width: 100%;
    text-align: left;
    height: 100px;
    border: solid 1px grey;
}

.comment_button {
    background-color: #007fff;
    border: none;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin-top: 10px;
    cursor: pointer;
    padding: 6px;
}

.create_comment_post_button,
.edit_comment_post_button {
    background-color: #007fff;
    border: none;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 95px;
}